@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');
* {
	font-family: 'Nunito';
	box-sizing: border-box;
}
html {
	background-color: lightgray;
}
body {
	background-color: white;
	max-width: 60em;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 40px;
	border: 1px solid gray;
	box-shadow: 10px 10px 12px gray;
}

h1 {
	color: #a32cc4;
}
h2 {
	color: #8B008B;
}
h3 {
	color: #32174d;
}

pre, xmp {
	font-family: monospace;
	color:red;
}

/* General purpose clases */
.al {
	text-align: left;
}
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}


/* Brand styles */
#brand {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#brand .author {
	font-weight: bold;
	display: inline-block;
}
#brand .pub_date {
	float: right;
}
#brand a
,#brand a:visited
{
	text-decoration: none;
	color: black;
}
#brand a:hover {
	color: blue;
}

