
.sl_0 { background-color: #FF0000; color: #FFFFFF }
.sl_1 { background-color: #FF7B00; }
.sl_2 { background-color: #FF8100; }
.sl_3 { background-color: #FF8600; }
.sl_4 { background-color: #FF8B00; }
.sl_5 { background-color: #FF9000; }
.sl_6 { background-color: #FF9600; }
.sl_7 { background-color: #FF9B00; }
.sl_8 { background-color: #FFA000; }
.sl_9 { background-color: #FFA600; }
.sl_10 { background-color: #FFAB00; }
.sl_11 { background-color: #FFB000; }
.sl_12 { background-color: #FFB600; }
.sl_13 { background-color: #FFBB00; }
.sl_14 { background-color: #FFC000; }
.sl_15 { background-color: #FFC600; }
.sl_16 { background-color: #FFCB00; }
.sl_17 { background-color: #FFD000; }
.sl_18 { background-color: #FFD600; }
.sl_19 { background-color: #FFDB00; }
.sl_20 { background-color: #FFE000; }
.sl_21 { background-color: #FFE500; }
.sl_22 { background-color: #FFEB00; }
.sl_23 { background-color: #FFF000; }
.sl_24 { background-color: #FFF500; }
.sl_25 { background-color: #FFFB00; }
.sl_26 { background-color: #FEFF00; }
.sl_27 { background-color: #F9FF00; }
.sl_28 { background-color: #F3FF00; }
.sl_29 { background-color: #EEFF00; }
.sl_30 { background-color: #E9FF00; }
.sl_31 { background-color: #E3FF00; }
.sl_32 { background-color: #DEFF00; }
.sl_33 { background-color: #D9FF00; }
.sl_34 { background-color: #D3FF00; }
.sl_35 { background-color: #CEFF00; }
.sl_36 { background-color: #C9FF00; }
.sl_37 { background-color: #C3FF00; }
.sl_38 { background-color: #BEFF00; }
.sl_39 { background-color: #B9FF00; }
.sl_40 { background-color: #B4FF00; }

